<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Store App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="views/css/normalize.css">
  <link rel="stylesheet" href="views/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="views/image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve column" style="margin-top: 15%">
        <h4 style="text-align: center">Store App</h4>
        <p style="text-align: center; font-weight: 200">Welcome to the store app. Click a button to get started.</p>
      </div>
    </div>
  <div class="row", style="text-align: center; margin-top: 5%">
    <div class="four columns">
      <a class="button button-primary" href="#">Checkout</a>
    </div>
    <div class="four columns">
      <a class="button button-primary" href="#">Add a new product</a>
    </div>
    <div class="four columns">
      <a class="button button-primary" href="#">Update existing product</a>
    </div>
  </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
